* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    height: auto;
    width: 880px;
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 200px;
    margin-bottom: 200px;

}

.content {
    display: none;
}

.content.active {
    display: block;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.arrow {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    color: #555;
}

.arrow:hover {
    color: #333;
}

