/* Body ajustes */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    min-height: 100vh;      
    margin: 0; 
    
}

a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 15px;
    font-weight: bold;
    font-size: 16px;
}

p {
    font-size: 20px;
    text-align: justify;
}

h2 {
    font-size: 24px;
    text-align: justify;
}

h3 {
    font-size: 22px;
    text-align: justify;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Header */
#header {
    background: linear-gradient(-178deg, #3900DF, #700199);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.238);
}

#header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#header nav ul li {
    margin: 0 15px;
}

#header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

#header nav ul li a:hover {
    color: #dcdcdc;
}

/* Box principais do body*/
#Box-intro,
#Box-tipos,
#Box-protecao {
    background-color: #D9D9D9;
    padding: 20px 20px 50px 20px;
    margin: 50px;
    border-radius: 10px;
}

#scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    scroll-behavior: smooth;
}

.Box-tipo {
    flex: 0 0 300px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Box inicial do phishingMAN*/
#box-bandeira {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    position: relative;
    margin-top: 120px;
    margin-bottom: 70px;

}

#flag {
    width: 815px;
    height: 300px;
}

#fisherman {
    width: 250px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*Box do footer*/
#footer {
    background: linear-gradient(-178deg, #3900DF, #700199);
    padding: 10px 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    
}

#footer-elements {
    display: flex;
    justify-content: center;
    list-style: none;
}

#footer-elements p {
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin: 0 15px;
}

#footer-elements a {
    margin: 2px;
}